* {
    margin: 0;
    padding: 0;
}


.header .header-nav {
    display: block;
    max-width: 100%;
    float: right;
    margin-top: 15px;   
}

.header .header-nav ul li {
    display: inline-block;
}

.flex {
    text-align: left;
    display: flex;
    width: 100%;
    margin: auto;
}

.container {
    width: 1000px;
    margin: 50px auto;
}

.nav {
    background-color: black;
    max-width: 100%;
    height: 10%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    border-bottom: solid 1px white;
}

.nav-list a {
    font-size: 50px;
    color: white;
    padding-block: 18px;
}

.icone {
    max-width: 10%;
    max-height: 10%;
}

footer {
    background-color: black;
    width: 100%;
    text-align: center;
    bottom: 0;
    border-top: solid 1px white;
}

.textogeral {
    color: white;
    font-family: sans-serif, arial;
}

.textocentro {
    text-align: center;
}

.tamanhologo {
    max-width: 100px;
    max-height: 100px;
}

body {
    background-color: black;
}

.centro {
    width: 100%;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid .coluna img {
    width: 100%;
}

.grid .coluna p {
    margin: 15px;
    text-align: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 22px;
    color: white;
    padding-block: 18px;
}

a {
    text-decoration: none;
}

.textobranco {
    color: white;
    font-family: sans-serif, arial;
}

.personagens {
    max-width: 50%;
    max-height: 100%;
}

.margem-vertical{
    margin-top: 20px;
    margin-bottom: 20px;
}

.margem-horizontal{
    margin-left: 15%;
    margin-right: 15%;
}

.margem-jogo{
    margin-left: 10%;
}

.espaco{
    margin-top: 10%;
    margin-bottom: 10%;
}

.margem-creditos{
    margin-bottom: 20px;
}

input, textarea{
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

button{
    background-color: white;
    padding: 10px;
    border: 0;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    transition: 0.5s;
    background-color: #DC143C;
    color: black;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
} 

.instagramlogo, .zaplogo{
    max-width: 40%;
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.itens{
    margin-bottom: 2%;
}

.cartaz {
    padding-top: 5%;
    margin: auto;
    display: block;
    max-width: 100%;
}

/*Celular*/
@media (min-width: 400px) {

    .icone {
        max-width: 60%;
    }

    iframe{
        display: none;
    }

}

/*telas um pouco maiores*/
@media (min-width: 700px) {
    .icone {
        max-width: 20%;
    }

    iframe{
        display: block;
    }
}

/*computadores*/
@media (min-width: 1000px){
    .icone{
        max-width: 10%;
    }
}